# Entornos virtuales
.venv/
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Bases de datos locales
db.sqlite3

# Archivos de entorno
.env

# Archivos temporales
*.log

# Docker
*.pid
