version: "3.9"

services:
  users-api:
    build:
      context: ./backend
    container_name: users-api
    ports:
      - "8000:8000"
    environment:
      - DJANGO_ALLOWED_HOSTS=*
      - NOTIFIER_URL=http://notifier:5000/notify
    depends_on:
      - notifier

  notifier:
    build:
      context: ./notifier
    container_name: notifier
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - users-api

