services:
  # contenedor "dueño" del volumen de la BD (no expone puertos)
  db:
    image: alpine:3.20
    container_name: sqlite-data
    command: ["sh", "-c", "mkdir -p /data && ls -la /data && tail -f /dev/null"]
    volumes:
      - sqlite-data:/data

  users-api:
    build:
      context: ./backend
    container_name: users-api
    environment:
      - DJANGO_ALLOWED_HOSTS=*
      - NOTIFIER_URL=http://notifier:5000/notify
      - SQLITE_PATH=/app/db/db.sqlite3
    volumes:
      - sqlite-data:/app/db        # <-- acá montás el directorio de la BD
    depends_on:
      - db
    ports:
      - "8000:8000"

  notifier:
    build:
      context: ./notifier
    container_name: notifier
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - users-api

volumes:
  sqlite-data:

